@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

.li-dailyspin {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.wheel-of-fortune{
    clip-path: inset(0 0 0 0 round 50%);

}